<footer class="text-muted">
  <div class="container">
    <p class="float-right">
    	<% unless current_page?(portfolios_path) %>
    	<%= link_to "View all Portfolio Items", portfolios_path %>
    	<% end %>
    	<% if current_page?(portfolios_path) %>
    	<a href='#'>Back to top</a>
    	<% end %>
   	</p>
    <p>
    	<%= copyright_generator %>
    </p>
  </div>
</footer>