<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>
		<div class="row">
			<div class="col-md-5">
				<%= image_tag "profile.jpg", width: 300, alt: "Profile image", class: 'profile-img' %>
			</div>

			<div class="col-md-7">
				<p>Chef slash Developer slash Photographer</p>
				<p><b>Stay Tuned!</b></p>
			</div>
		</div>
	</div>
</div>

