<h1>Give me a shout!</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<h3><%= "Office Address" %></h3>

		<p><%= "111 Sunny Drive, Henderson, NV 89015" %></p>

		<h3>Phone</h3>

		<p><%= number_to_phone "8629262140" %></p>

		<h3>Email</h3>

		<p><a href="mailto:chris@palkaphoto.com?subject=PortfolioContact" "email me">Email Me</a></p>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3226.3139012118854!2d-114.96831068444202!3d36.03704431798236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8d6907b85dcb1%3A0xc393664fa5ef3107!2s601+Cabrillo+Cir%2C+Henderson%2C+NV+89015!5e0!3m2!1sen!2sus!4v1551135460275" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>